extends layout

block content
  h1 mellonine
  h2 Success!
  h3 Step 4
  p.
    Set your tenant number in the apartment building's security system to your
    Twilio number.
  aside.
    If you already have a number in the system that's tied to a Google Voice
    account, you can set your account up to forward calls from the security
    system to the Twilio number: <a href='/google-voice-setup>Setting Up Google Voice</a>
  h3 Step 5
  p.
    To unlock your door when calling your Twilio number through the system,
    either text your passcode to your Twilio number via SMS before calling, or
    dial it when prompted by voice.
